
body,
#app{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.layout{
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  grid-template-rows: 100vh;
  justify-content: center;

  width: 100vw;

  height: 100vh;
}

.editor{
  width: 600px;
  height: 600px;
}

.preview-area{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.tools{
  padding-block: 10px;
}
p{
  margin: 0;
}
.tools-item{
  border-top: 1px solid #ececec;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.bg-color{
  display: grid;
  grid-template-columns: repeat(4, 24px);
  row-gap: 16px;
  justify-content: space-between;
}

.color-item{
  border-radius: 4px;
  cursor: pointer;
}


.tools-item p{
  margin-block: 10px;
}

.el-color-picker{
  height: 24px !important;
  margin-top: 16px;

}
.el-color-picker__trigger{
  padding: 0 !important;
  border: none !important;
  width: 24px !important;
  height: 24px !important;
}

.border{
  display: flex;
  gap: 10px;
  align-items: center;
}

.border .el-color-picker{
  margin-top: 0 !important;
}

.el-input-number{
  width: 112px !important;
}

.corner-radius{
  display: grid;
  grid-template-columns: repeat(2, 56px);
  grid-template-rows: repeat(2, 56px);
  gap: 10px;
}

.corner-radius .el-input-number{
  width: 56px !important;
}