
body,
#app{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.layout{
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  grid-template-rows: 100vh;
  justify-content: center;

  width: 100vw;

  height: 100vh;
}

.editor{
  width: 600px;
  height: 600px;
}

.preview-area{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.tools{
  padding-block: 10px;
}
p{
  margin: 0;
}
.tools-item{
  border-top: 1px solid #fafafa;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.bg-color{
  display: grid;
  grid-template-columns: repeat(4, 24px);
  grid-template-rows: repeat(4, 24px);
  row-gap: 16px;
  justify-content: space-between;
}

.color-item{
  border-radius: 4px;
  cursor: pointer;
}